
<div>
    <aside class="col-sm-6">

    <div class="card">
        <article class="card-body">
   
        <h3 >Log in</h3>
	    <form ng-submit="login()">
            <div class="form-group">
    	        <label>Your email</label>
                <input class="form-control" placeholder="Email" type="email" required="required" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                title="Enter a valid email" ng-model="user.email"/>
            </div> 
            <div class="form-group">
    	       
    	        <label>Your password</label>
                <input class="form-control" placeholder="Password" type="password"
                required="required" pattern=".{6,}" title="Minimum 6 characters required"
                                       autocomplete="off" ng-model="user.password" >
            </div> 
            <div class="form-group"> 
                <div class="checkbox">
                    <label> <input type="checkbox"> Save password </label>
                </div> 
            </div>  
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Login  </button>
            </div>                                                            
        </form>
        </article>
    </div> 
    </aside>
</div>