<div>
    <div class="col-md-6" ng-controller="youtubeController">
        <h3 class="typo">Youtube research history : </h3>
        <ul class="list-group">
            <div ng-repeat="search in youtubeHistorySet track by $index">
                <li class="list-group-item">
                    <p>{{ search.searchText }}</p><p>{{ search.date | date:"dd/MM/yyyy 'at' hh:mm:ss"}}</p>
                </li>
            </div>
        </ul>
    </div>
    <div class="col-md-6" ng-controller="vimeoController">
        <h3 class="typo">Vimeo research history : </h3>
        <ul class="list-group">
            <div ng-repeat="search in vimeoHistorySet track by $index">
                <li class="list-group-item">
                    <p>{{ search.searchText }}</p><p>{{ search.date | date:"dd/MM/yyyy 'at' hh:mm:ss"}}</p>
                </li>
            </div>
        </ul>
    </div>
</div>