<div class="browse" ng-controller="vimeoController">
    <div class="tittle-head two">
        <h3 class="tittle"><i class="fab fa-vimeo"></i>  Search videos on Vimeo </h3>
        <!--search zone-->

        <div class="well">
            <form class="form" ng-submit="initPage(); getVimeoData(vimeoSearchText);">
                <!--<input type="search" ng-model="youtubeSearchText" ng-change="getYoutubeData()"-->
                <div class="col-xs-4">
                    <input type="search" ng-model="vimeoSearchText"
                           name="hyv-search" id="hyv-search" placeholder="Search..."
                           class="ui-autocomplete-input form-control input-lg" autocomplete="off">
                </div>
                <input type="submit" id="search" value="Search">
            </form>
        </div>

        <!--search zone-->
        <div class="clearfix"></div>
    </div>
    <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">

        <!-- Pagination -->

        <div style="text-align:center;" ng-if="checkDataLength(vimeoData)">
            <!--<input type="hidden" id="pageToken" value="">-->
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" ng-show="prevPageToken" id="pageTokenPrev"
                        ng-click="callNextPageFn(prevPageToken)" class="btn btn-default">Prev
                </button>
                <button type="button" id="pageTokenNext" ng-click="callNextPageFn(nextPageToken)"
                        class="btn btn-default">Next
                </button>
            </div>
        </div>
        <div id="myTabContent" class="tab-content">
            <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
                <div class="browse-inner">
                    <!-- /agileits -->
                    <div ng-repeat="data in vimeoData">
                        <div class="col-md-3 content-grid">
                            <a href="#videoPlayer" data-toggle="modal" data-book-id="{{data}}">
                                <img data-ng-src="{{data.pictures.sizes[data.pictures.sizes.length-1].link}}" alt="{{data.name}}"
                                     title="{{data.name}}"/>
                            </a>
                            <a href="#videoPlayer" data-toggle="modal" data-book-id="{{data}}"><i
                                    class="glyphicon glyphicon-play-circle"></i></a>
                            <a href="#videoPlayer" data-toggle="modal" data-book-id="{{data}}" class="art" >{{data.name}}</a><!--data.duration / 60 | number: 2-->
                            <span style="color: gray" class="glyphicon glyphicon-time" aria-hidden="true">{{getTime(data.duration)}}</span>
                            <p class="views views-info">{{data.metadata.connections.likes.total}} Likes</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /agileinfo -->
    <!-- Modal -->
    <div id="videoPlayer" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id="modalTitle" class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <!--<p id="modalAuthor">Some text in the modal.</p>-->
                    <div id="hyv-player-api"
                         class="hyv-player-width hyv-player-height hyv-off-screen-target hyv-player-api">
                        <iframe id="videoId" name="videoId" width="100%" height="450" src="about:blank" frameborder="0"
                                allowfullscreen></iframe>
                        <h1 id="cannotShowVideo"></h1>
                    </div>
                    <p class="author author-info"><a id="modalAuthor" target="_block"
                                                     href=""
                                                     class="author">channelTitle</a>
                    <span id="modalLikeCount" class="pull-right">Likes</span>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#videoPlayer').on('show.bs.modal', function (e) {
            var bookId = $(e.relatedTarget).data('book-id');
            var href = bookId.embed.html;
            if(href !== null){
                var url = href.substring(href.indexOf('src="') + 5, href.indexOf('" '));
                document.getElementById('videoId').src = url;
                document.getElementById('videoId').hidden = false;
                document.getElementById('cannotShowVideo').hidden = true;
            }
            else {
                document.getElementById('cannotShowVideo').hidden = false;
                document.getElementById('cannotShowVideo').innerHTML = 'Sorry\n' +
                    'You can not play this video because of its privacy settings.\n' +
                    'visit : <a href="https://vimeo.com' + bookId.uri.substring(bookId.uri.indexOf("/", bookId.uri.indexOf("/")+1), bookId.uri.length) + '">This page</a>';
                document.getElementById('videoId').hidden = true;
            }

            document.getElementById('modalTitle').innerHTML = bookId.name;
            document.getElementById('modalAuthor').innerHTML = bookId.user.name;
            document.getElementById('modalAuthor').href = bookId.user.link;
            document.getElementById('modalLikeCount').innerHTML = bookId.metadata.connections.likes.total + " Like";
        });
        $('#videoPlayer').on('hidden.bs.modal', function () {
            document.getElementById('videoId').src = "about:blank";
        })
    </script>
</div>